.mainPhoto {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  background-color: #edede9;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 350ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
  z-index: 2;
}

.photo[data-current='true'] {
  opacity: 1;
}
